<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quiz</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet">

</head>
<body class="container mt-5">

<h1 class="mb-4">Quiz</h1>

<form action="/submit-quiz" method="post">

    <input type="hidden" name="quizId"
           th:value="${quizId}">

    <!-- Temporary User ID -->
    <input type="hidden" name="userId" value="1">

    <div th:each="q, stat : ${questions}"
         class="card mb-3 p-3">

        <h5>
            <span th:text="${stat.count}"></span>.
            <span th:text="${q.question}"></span>
        </h5>

        <div th:each="option : ${q.options}">

            <input type="radio"
                   th:name="answers"
                   th:value="${option}"
                   required>

            <span th:text="${option}"></span>

            <br>

        </div>

    </div>

    <button type="submit"
            class="btn btn-primary">

        Submit Quiz

    </button>

</form>

</body>
</html>